<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas distinctio voluptatem modi minus, exercitationem quia officia aliquid beatae temporibus voluptates, adipisci debitis! Rerum nulla porro ut, perspiciatis illo hic pariatur!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>